<%= render partial: 'spree/admin/shared/post_tabs', locals: {current: "Images"} %>

<%= render 'spree/admin/shared/error_messages', target: @post_image %>

<% content_for :page_title do %>
  / Edit Image
<% end %>

<%= form_for([:admin, @post.id, @post_image], url: admin_post_image_url(@post, @post_image), html: { multipart: true }) do |form| %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group"">
        <%= label_tag ("thumbnail") %><br />
        <%= link_to(image_tag(@post_image.attachment.url(:small)), @post_image.attachment.url(:large)) %>
      </div>
    </div>
    <div class="col-md-9">
      <%= render "form", form: form %>
    </div>
  </div>

  <%= render partial: 'spree/admin/shared/edit_resource_links' %>
<% end %>