<%= render :partial => 'spree/admin/shared/post_tabs', :locals => {:current => "Images"} %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon('icon-plus', t(:new_image), new_admin_post_image_url(@post), :id => 'new_image_link', :class => 'button') %></li>
<% end %>

<div id="images" data-hook></div>

<% unless @post.images.any? %>
  <div class="no-objects-found">
    <%= t(:no_images_found) %>.
  </div>
<% else %>
  <table class="index sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_post_images_url(@post) -%>">
    <colgroup>
       <col style="width: 5%">
       <col style="width: 25%">
       <col style="width: 55%">
       <col style="width: 15%">
    </colgroup>
    <thead>
      <tr>
        <th colspan="2"><%= t("thumbnail") %></th>
        <th><%= t("alt_text") %></th>
        <th data-hook="admin_post_images_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @post.images.each do |image| %>
        <tr id="<%= dom_id(image) %>">
          <td class="no-border"><span class="handle"></span></td>
          <td><%= link_to(image_tag(image.attachment.url(:small)), image.attachment.url(:large)) %></td>
          <td><%= image.alt %></td>
          <td class="actions" data-hook="admin_post_images_index_row_actions">
            <%= link_to_with_icon 'icon-edit', t(:edit), edit_admin_post_image_path(@post, image), :no_text => true, :data => {:action => 'edit'} %>
            &nbsp;
            <%= link_to_delete image, :no_text => true, :url => admin_post_image_url(@post, image) %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){

      jQuery('#new_image_link').click(function (event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });

    });
  </script>
<% end %>
