<% content_for :page_title do %>
  <%= t(".new_post") %>
<% end %>

<% if @post.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @post %>
<% end %>

<%= form_for([:admin, @post]) do |f| %>
<fieldset class="no-border-top">
  <%= render "form", :form => f %>
  <div class="filter-actions actions">
    <%= button t(:create), 'icon-ok' %>
    <span class="or"><%= t(:or) %></span>
    <%= button_link_to t(:cancel), admin_blogs_path, :icon => 'icon-remove' %>
  </div>
</fieldset>
<% end %>
