<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:edit), edit_admin_post_url(@post), :icon => 'icon-edit' %>
  </li>
  <li><%= button_link_to Spree.t('admin.posts.show.back_to_posts_list'), admin_posts_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/post_tabs', :locals => {:current => "Post Details"} %>


<% for image in @post.images do %>
  <%= image_tag image.attachment.url(:small), :alt => @post.title %>
<% end %>

<%= @post.body.html_safe %>

