<%= render :partial => 'spree/admin/shared/contents_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('admin.pages.listing_pages') %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_page_link">
    <%= button_link_to Spree.t('admin.pages.new_page'), new_admin_page_url,:icon => 'icon-plus', :id => 'admin_new_page' %>
  </li>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>

        <%- locals = {:f => f} %>

        <div data-hook="admin_products_index_search">
          <div class="alpha eight columns omega">
            <div class="field">
              <%= f.label :title_cont, Spree.t('page.title') %>
              <%= f.text_field :title_cont, :size => 25 %>
            </div>
          </div>
          <div class="eight columns">
            <div class="field">
              <%= f.label :path_cont, Spree.t('page.path') %>
              <%= f.text_field :path_cont, :size => 25 %>
            </div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="form-buttons actions filter-actions" data-hook="admin_products_index_search_buttons">
          <%= button Spree.t(:search), 'icon-search' %>
        </div>
    <% end %>
  </div>
<% end %>


<%= paginate @collection %>

<table class="index sortable" data-sortable-link="<%= update_positions_admin_pages_url -%>">
  <thead>
  <tr>
      <th colspan="2"><%= sort_link @search, :title, Spree.t("page.title") %></th>
      <th><%= sort_link @search, :path, Spree.t("page.path") %></th>
      <th><%= sort_link @search, :accessible, Spree.t("page.accessible") %></th>
      <th><%= sort_link @search, :visible, Spree.t("page.visible") %></th>
      <th data-hook="admin_posts_index_header_actions" class="actions"></th>
  </tr>
  </thead>
  <tbody>
    <%- @collection.each do |page|%>
    <tr id="<%= spree_dom_id page %>">
      <td class="no-border"><span class="handle"></span></td>
      <td><%=link_to page.title, object_url(page) %></td>
      <td><%= page.path %></td>
      <td><%= page.accessible %></td>
      <td><%= page.visible %></td>
      <td class="actions" data-hook="admin_pages_index_row_actions">
        <%= link_to_with_icon :accept, Spree.t(:preview), page.path, :onclick => 'window.open(this.href);return false;' %> &nbsp;
        <%= link_to_with_icon :pages, Spree.t('page.contents'), admin_page_contents_path(page) %> &nbsp;
        <%= link_to_edit page, :no_text => true, :class => 'edit' %> &nbsp;
        <%= link_to_delete page, :no_text => true %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>
