<%= render :partial => 'spree/admin/shared/contents_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t('admin.uploads.edit.edit_upload') %>
<% end %>

<% if @upload.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @upload %>
<% end %>

<%= form_for([:admin, @upload], :html => { :multipart => true }) do |f| %>
  <fieldset data-hook="edit_upload">
    <legend align="center"><%= @upload.attachment_file_name%></legend>
    <div class="field alpha three columns align-center">
      <% if @upload.image_content? %>
        <%= f.label Spree.t('admin.uploads.edit.preview') %><br/>
        <%= link_to image_tag(@upload.attachment.url(:small)), @upload.attachment.url(:original) %>
      <% else %>
        <%= f.label Spree.t('admin.uploads.edit.link') %><br/>
        <%= link_to @upload.attachment_file_name, @upload.attachment.url %>
      <% end %>
    </div>
    <div class="nine columns omega">
      <%= render "form", :form => f %>
    </div>
    <div class="clear"></div>
    <div class="filter-actions actions">
      <%= button Spree.t(:update), 'icon-refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= button_link_to Spree.t(:cancel), admin_uploads_path, :icon => 'icon-remove' %>
    </div>
  </fieldset>
<% end %>
