<% content_for :page_title do %>
  <%= Spree.t('essential_content.admin.upload_listing') %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon('plus', Spree.t('essential_content.admin.upload_new'), new_admin_upload_url(@product), id: 'new_image_link', class: 'button') %></li>
<% end %>

<div id="images" data-hook></div>

<% unless @collection.any? %>
  <div class="no-objects-found">
    <%= Spree.t(:no_uploads_found) %>.
  </div>
<% else %>
  <%= paginate @collection %>

  <table class="index sortable">
    <thead>
      <tr>
        <th><%= Spree.t(:thumbnail) %></th>
        <th><%= sort_link @search, :attachment_file_name, Spree.t("essential_content.upload.file_name") %></th>
        <th><%= sort_link @search, :description, Spree.t(:description) %></th>
        <th><%= sort_link @search, :attachment_file_size, Spree.t("essential_content.upload.size") %></th>
        <th class="actions"></th>
      </tr>
    </thead>

    <% @collection.each do |upload| %>
      <tr id="<%= dom_id(upload) %>">
        <td class="thumbnail">
          <% if upload.image_content? %>
            <%= link_to image_tag(upload.attachment.url(:mini)), upload.attachment.url(:large) %>
          <% end %>
        </td>
        <td><%= link_to upload.attachment_file_name, upload.attachment.url(:original) %></td>
        <td><%= upload.alt %></td>
        <td><%= upload.attachment_file_size.to_i / 1024 %> kb</td>
        <td class="actions">
           <%= link_to_edit upload, no_text: true, class: 'edit' %> &nbsp;
            <%= link_to_delete upload, no_text: true %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= paginate @collection %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_uploads_index_search">
    <%= search_form_for [ :admin, @search ] do |f| %>
      <div class="field-block alpha sixteen columns">
        <div class="field">
          <%= f.label :alt_or_attachment_file_name_cont, "#{Spree.t(:description)} #{Spree.t(:or)} #{Spree.t(:filename)}" %>
          <%= f.text_field :alt_or_attachment_file_name_cont, size: 50 %>
        </div>
      </div>
      <div class="clearfix"></div>

      <div class="actions filter-actions">
        <div data-hook="admin_uploads_index_search_buttons">
          <%= button Spree.t(:filter_results), 'search' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('#new_image_link').click(function(event) {
        event.preventDefault();
        jQuery(this).hide();
        jQuery.ajax({type: 'GET', url: this.href, data: ({authenticity_token: AUTH_TOKEN}), success: function(r){ jQuery('#images').html(r);} });
      });
    });
  </script>
<% end %>