<% if @upload.try(:errors).present? %>
  <%= render 'shared/error_messages', :target => @upload %>
<% end %>

<%= form_for([:admin, @upload], :html => { :multipart => true }) do |form| %>
  <fieldset data-hook="new_image">
    <legend align="center"><%= Spree.t(:new_image) %></legend>

    <%= render "form", :form => form %>

    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t(:update), 'icon-refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', Spree.t(:cancel), admin_uploads_url(), :id => 'cancel_link', :class => 'button' %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    event.preventDefault()
    jQuery('#new_image_link').show();
    jQuery('.no-objects-found').show();
    jQuery('#images').html('');
  });
</script>
