<% unless @page.nil? %>
  <% unless @page.images.empty? %>
    <%= render 'spree/shared/slideshow', images: @page.images, size: :slide %>
  <% end %>

  <div data-hook="main-content">
    <%= render partial: 'spree/shared/content', collection: @page.for_context('main') %>
  </div>
<% end %>

<% if !@posts.blank? and @config[:show_posts_on_homepage] %>
  <div data-hook="latest-posts">
    <h1><%= Spree.t('essential_content.recent_posts') %></h1>
    <%= render partial: 'spree/shared/essential_content/preview', collection: @posts, as: :post %>
  </div>
<% end %>

<% if @config[:show_taxons_on_homepage] %>
  <% content_for :sidebar do %>
    <div data-hook="homepage_sidebar_navigation">
      <%= render partial: 'spree/shared/taxonomies' %>
    </div>
  <% end %>
<% end %>

<% if @config[:show_products_on_homepage] %>
  <div data-hook="homepage_products">
    <h1><%= Spree.t('essential_content.latest_products') %></h1>
    <%= render partial: 'spree/shared/products', locals: { products: @products } if @products %>
  </div>
<% end %>