<% content_for :page_title do %>
  <%= link_to Spree.t('admin.subnav.posts'), admin_pages_path %> / <%= (Spree.t('essential_content.admin.page_edit') + " '#{page.title}'").html_safe %>
<% end %>

<% content_for :sidebar do %>
  <header id="page_tab_summary" data-hook>
    <dl class="additional-info">
      <dt id="page_accessible" data-hook><%= Spree.t('essential_content.page.accessibility') %>:</dt>
      <dd>
        <%= page.accessible ? "<span class='state complete'>Accessible</span>".html_safe : "<span class='state pending'>Not Accessible</span>".html_safe %>
        </dd>
      <dt data-hook><%= Spree.t('essential_content.page.visible') %>:</dt>
      <dd id='page_visible'>
        <%= page.visible ? "<span class='state complete'>Visible</span>".html_safe : "<span class='state pending'>Hidden</span>".html_safe %>
      </dd>
    </dl>
  </header>

  <ul class="nav nav-pills nav-stacked post-menu" data-hook="admin_pages_tabs">
    <%= content_tag :li, class: ('active' if current == "Page Details") do %>
      <%= link_to_with_icon 'edit', Spree.t('essential_content.admin.page_details'), edit_admin_page_url(page) %>
    <% end %>
    <%= content_tag :li, class: ('active' if current == "Contents") do %>
      <%= link_to_with_icon 'list', Spree.t('essential_content.admin.page_contents'), admin_page_contents_url(page) %>
    <% end %>
    <%= content_tag :li, class: ('active' if current == "Images") do %>
      <%= link_to_with_icon 'picture', Spree.t('essential_content.admin.page_images'), admin_page_images_url(page) %>
    <% end %>
  </ul>
<% end %>