<% content_for :page_title do %>
  <%= t(".post") + " &ldquo;#{@post.title}&rdquo;".html_safe %>
<% end %>

<% content_for :sidebar_title do %>
  <%= t('.post_information') %>
<% end %>

<% content_for :sidebar do %>

  <header id="post_tab_summary" data-hook>
    <dl class="additional-info">
      <dt id="post_date" data-hook><%= t('spree.admin.posts.sidebar.posted_at') %>:</dt>
      <dd><%= h(@post.posted_at.strftime("%A %B %d, %Y")) %></dd>
      <dt data-hook><%= t('.posted_in') %>:</dt>
      <dd id='posted_in'><%= link_to @post.blog.name, edit_admin_blog_path(@post.blog) %></dd>
      <dt data-hook><%= t('.published') %>:</dt>
      <dd id='posted_in'><%= (@post.live && @post.posted_at <= Time.now) ? "<span class='state complete'>Published</span>".html_safe : "<span class='state pending'>Not Published</span>".html_safe %></dd>
    </dl>
  </header>

  <nav class="menu">
    <ul class="sidebar post-menu">
      <li<%= ' class="active"'.html_safe if current == "Post Details" %>>
        <%= link_to_with_icon 'icon-edit', t(".post_details"), edit_admin_post_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Images" %>>
        <%= link_to_with_icon 'icon-picture', t("images"), admin_post_images_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Related Products" %>>
        <%= link_to_with_icon 'icon-sitemap', t(".related_products"), admin_post_products_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Categories" %>>
        <%= link_to_with_icon 'icon-tags', t(".post_categories"), admin_post_categories_url(@post) %>
      </li>
    </ul>
  </nav>

<% end %>
