<% content_for :page_title do %>
  <%= link_to Spree.t('admin.subnav.posts'), admin_posts_path %> / <%= (Spree.t("essential_content.post.post") + " '#{@post.title}'").html_safe %>
<% end %>

<% content_for :sidebar_title do %>
  <%= Spree.t('essential_content.admin.post_information') %>
<% end %>

<% content_for :sidebar do %>
  <header id="post_tab_summary" data-hook>
    <dl class="additional-info">
      <dt id="post_date" data-hook><%= Spree.t('essential_content.post.posted_at') %>:</dt>
      <dd><%= h(@post.posted_at.strftime("%A %B %d, %Y")) %></dd>
      <dt data-hook><%= Spree.t('essential_content.post.posted_in') %>:</dt>
      <dd id='posted_in'><%= link_to @post.blog.name, edit_admin_blog_path(@post.blog) %></dd>
      <dt data-hook><%= Spree.t('essential_content.post.published') %>:</dt>
      <dd id='posted_in'><%= (@post.live && @post.posted_at <= Time.now) ? "<span class='state complete'>Yes</span>".html_safe : "<span class='state pending'>No</span>".html_safe %></dd>
    </dl>
  </header>

  <ul class="nav nav-pills nav-stacked post-menu" data-hook="admin_posts_tabs">
    <%= content_tag :li, class: ('active' if current == "Post Details") do %>
      <%= link_to_with_icon 'edit', Spree.t("essential_content.admin.post_details"), edit_admin_post_url(@post) %>
    <% end %>
    <%= content_tag :li, class: ('active' if current == "Images") do %>
      <%= link_to_with_icon 'picture', Spree.t(:images), admin_post_images_url(@post), class: "post-images" %>
    <% end %>
    <%= content_tag :li, class: ('active' if current == "Related Products") do %>
      <%= link_to_with_icon 'resize-small', Spree.t("essential_content.admin.products_related"), admin_post_products_url(@post) %>
    <% end %>
    <%= content_tag :li, class: ('active' if current == "Categories") do %>
      <%= link_to_with_icon 'tags', Spree.t("essential_content.admin.post_categories"), admin_post_categories_url(@post) %>
    <% end %>
  </ul>
<% end %>