<%= render :partial => 'spree/admin/shared/page_tabs', :locals => {:current => "Images"} unless request.xhr? %>

<%= render 'spree/shared/error_messages', :target => @page_image %>

<%= form_for(@page_image, :url => admin_page_images_path(@page), :html => { :multipart => true }) do |form| %>
  <fieldset>
    <legend><%= t("new_image") %></legend>

    <%= render "form", :form => form %>

    <div class="filter-actions actions">
      <%= button t(:create), 'icon-ok' %>
      <span class="or"><%= t(:or) %></span>
      <%= button_link_to t(:cancel), collection_url, :icon => 'icon-remove', :id => "cancel_link" %>
    </div>
  </fieldset>
<% end %>

<script type="text/javascript">
  jQuery('#cancel_link').click(function (event) {
    event.preventDefault();
    jQuery('#new_image_link').show();
    jQuery('#images').html('');
  });
</script>
